@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: var(--foreground);
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes rotateY3D {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.animate-rotateY3D {
  animation: rotateY3D 4s linear infinite;
  transform-style: preserve-3d;
}
